[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment[zh_TW]=連線到網際網路
Comment=Access the Internet
;Exec=/usr/bin/google-chrome-stable --kiosk http://127.0.0.1 
Exec=/home/admintx/autostart.sh
GenericName[zh_TW]=網頁瀏覽器
GenericName=Web Browser
Icon=google-chrome
Name=Google Chrome
StartupNotify=true
Terminal=false
Type=Application
Version=1.0

